*{
    padding: 0;
    margin: 0;
    font-family: Bungee;
    overflow: hidden;
    user-select: none;
    
}
.bg{
    height: 100vh;
    width: 100vw;
    background-image: url('bg.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.greet{
    text-align: center;
    font-family: Bungee;
    font-size: 6rem;
    padding-bottom: 40px;
    color: #e38453;
}
.startbtn{
    padding: 10px 30px;
    background-color: #ef5451;
    border-radius: 20px;
    font-size: xx-large;
    font-family: bungee;
    text-decoration: none;
    color: white;
   
}
.rules{
    text-align: center;
    font-family: Bungee;
    font-size: 6rem;
    color: #e38453;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.ruleslist{
    /* text-align: center; */
    font-family: Bungee;
    font-size: x-large;
    color: #e38453;
    padding: 40px 0 40px 60px;
}
.ready{
    text-align: center;
    font-family: Bungee;
    font-size: 6rem;
    color: #e38453;
    padding: 30px;
}

.qtype{
    background-color: #ef5451;
    border-radius: 20px;
    font-size: xx-large;
    font-family: bungee;
    color: white;
    padding: 10px 30px;



}
.points{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #ef5451;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.ques{
    width: 400px;
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-bottom: 50px;
    color: #e38453;
    font-size: xx-large;
    text-align: center;
}
.options{
    display: grid;
    grid-template-areas:
         "opt1 opt2"
         "opt3 opt4";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin-bottom: 50px;
}

.opt{
    padding: 5px 10px;
    border: 2px solid #e38453;
    color: #e38453;
    font-size: xx-large;
    border-radius: 20px;
    text-align: center;
    min-width: 60px;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opt:hover{
    background-color: #e38453;
    color: white;
}
.opt.selected {
  background-color: #e38453; /* Permanent blue on click */
  color: white;
}
.score{
     text-align: center;
    font-family: Bungee;
    font-size: 3rem;
    padding-top: 40px;
    color: #e38453;
}

/* @media screen and (max-width: 600px) {
    .ques{
        width: 400px;
    }
} */